.taskForm {
  padding-bottom: 100px;
}

.taskForm form {
  max-width: 500px;
  margin: 0 auto;
}

.taskForm form p {
  color: #bf1650;
}

.taskForm form p::before {
  display: inline;
  content: "⚠ ";
}

.taskForm form input {
  display: block;
  box-sizing: border-box;
  width: 97%;
  border-radius: 4px;
  border: 1px solid white;
  padding: 10px 15px;
  margin-bottom: 10px;
  font-size: 14px;
}

.selectLogDiv select {
  margin-left: 10px;
  min-width: 100px;
  width: 150px;
  max-width: 240px;
  background-color: white;
  border-radius: 5px;
}

.selectLogDiv {
  margin: 4px 10px 0 0;
}

.selectShadowDiv {
  margin: 4px 0 0 3px;
}

.checkBoxDiv {
  width: 5%;
}

.checkBoxDiv input {
  display: flex;
  vertical-align: middle;
  margin: 9px 0 0 0!important;
}

.taskForm form button[type="submit"],
.taskForm form input[type="submit"] {
  background: #0069d9;
  color: white;
  text-transform: uppercase;
  border: none;
  margin-top: 30px;
  padding: 20px;
  font-size: 16px;
  font-weight: 100;
  letter-spacing: 10px;
}

.taskForm form button[type="submit"]:hover,
.taskForm form input[type="submit"]:hover {
  background: #0062cc;
}

.taskViewChangeButton button {
  margin: 0;
}

.taskForm .dual input {
  margin-right: 3%;
  display: initial;
  width: 47%;
}

.taskForm .triple input {
  margin-right: 2%;
  display: initial;
  width: 31%;
}

.selectBox {
  display: flex;
  margin: 10px 0 10px 0;
}

.taskForm form .flexbox {
  margin: 10px 0 10px 0;
  display: flex;
  flex-direction: row;
  vertical-align: middle;
}

.taskForm form h6 {
  width: 40%;
  margin: 5px 0 0 3px;
}

.colorSelect {
  margin: 6px 0 0 10px !important;
  width: 30px!important;
  height: 20px!important;
  padding: 0!important;
}

.submitButton {
  margin-top: 0px!important;
  padding: 10px!important;
  font-size: 24px!important;
  font-weight: 400!important;
  letter-spacing: normal!important;
}

.rw-widget-input.rw-input{
  margin: 0;
  padding: 0;
  text-align: center;
}

.datePicker {
  width: 50%;
  margin-left: 2%;
}