.videoPlayer{
    text-align: center !important;
    margin: auto;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 400;
}

.player-wrapper {
    margin: 10px;
}

.react-player {
    margin-bottom: 10px;
    background: #e9ecef;
}

.players {
    display: flex;
    margin: auto;
}

.infoTable th {
    padding: 10px;
}

.infoTable td {
    padding: 10px;
}

.infoTable table {
    margin: auto;
}

.videoPageButtons {
    margin: 5px 5px 5px 0;
    padding: 5px 5px;
}
