.logViewChange {
    margin: 0 0 20px 0;
}
.logViewChange .infoMessage {
    margin: 10px 0 10px 0;
    font-weight: 800;
    color: darkgreen;
}
.logViewChange .progress {
    margin: 10px 0 10px 0;
    width: 100%;
}

.logViewChange .error {
    color: darkred;
}

.logPage {
    padding: 0 7% 0 7%;
}

table td{
    text-align: center;
    vertical-align: middle!important;
}

.table th{
    text-align: center;
    vertical-align: middle!important;
}

.inputFileDiv {
    display: flex;
    justify-content: center;
}