.head_route66{
    color: #31708f;
    background-color: #d9edf7;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid #bce8f1;
    border-radius: 4px;
    text-align: center;
    width: 640px;
}

.container {
    height: 800px;
}

button {
    border: 1px solid #333;
    text-transform: uppercase;
    margin-right: 10px;
    margin-bottom: 5px;
    padding: 10px 10px;
    border-radius: 4px;
}

body {
    background: #e9ecef;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}