.banner {
    display: inline-block;
    width: 80%;
    margin-left: 10%;
    padding: 4rem 1rem;
    text-align: center;
    text-transform: capitalize;
    letter-spacing: 3px;
    border-radius: 20px;
}
.banner h1 {
    font-size: 3.5rem;
}
.banner div {
    width: 50%;
    height: 5px;
    background: #212529;
    margin: 1.7rem auto;
    border-radius: 20px;
}
.banner p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
}